<% if (!user) { %>
    <p>Welcome! Please
        <a href="/auth/facebook">log in</a>.</p>
    <% } else { %>
        <p>Hello,
            <%= user.username %>. View your
                <a href="/profile">profile</a>.</p>
        <% } %>